<div class="flex-grid">
  <div class="row">
    <div class="cell size2">2</div>
    <div class="cell size8">
      <div class="leader">Unde stai?</div>
      {{outlet}}
      {{place-autocomplete-field
        value=model.address
        disable=false
        handlerController=this
        inputClass='place-autocomplete--input'
        focusOutCallback='done'
        placeChangedCallback='placeChanged'
        types='(cities)'
        withGeoLocate=true
      }}
      <hr/>
      <b>{{model.address}}</b>
    </div>
    <div class="cell size2">2</div>
  </div>
  <div class="row">
    <div class="cell size2"></div>
    <div class="cell size8">
      {{#g-map markersFitMode='live' lat=37.7833 lng=-122.4167 zoom=2 as |context|}}
        {{g-map-address-marker context address=model.address}}
      {{/g-map}}
    </div>
    <div class="cell size2"></div>
  </div>
</div>
